.block {
	display: inline-flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0 8px;
}

.label {
	top: 0;
	left: 0;
	z-index: 1;
  position: absolute;
  transform: translate(14px, 20px) scale(1);
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transform-origin: top left;
	color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
	letter-spacing: 0.00938em;
	pointer-events: none;
}

.label_shrink {
	transform: translate(14px, -6px) scale(0.75);
}

.label_focused {
	color: #1976d2;
}

.empty_label {
	color: red;
}

.filled_label {
	color: grey;
}

.form {
	position: relative;
	border-radius: 4px;
	width: 100%;
	color: rgba(0, 0, 0, 0.87);
	cursor: text;
	display: inline-flex;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	line-height: 1.1876em;
	letter-spacing: 0.00938em;
}

.empty_form:before {
	transition: border-bottom-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-color: red;
}

.filled_form:before {
	transition: border-bottom-color 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	border-color: grey;
}

.form_focused:after {
	transform: scaleX(1);
}

.input {
	font: inherit;
	color: currentColor;
	width: 100%;
	border: 0;
	height: 1.1876em;
	background: none;
	animation-name: mui-auto-fill-cancel;
	-webkit-tap-highlight-color: transparent;
	padding: 18.5px 14px;
}

.fieldset {
	top: -5px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0 8px;
	overflow: hidden;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	border-radius: inherit;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0.23);
}

.empty {
	border-color: red;
}

.filled {
	border-color: grey;
}

.form:hover .fieldset {
	border-color: rgba(0, 0, 0, 0.87);
}

.form.form_focused .fieldset{
	border-color: #1976d2;
	border-width: 2px;
}

.legend {
	width: auto;
	height: 11px;
	display: block;
	padding: 0;
	font-size: 0.75em;
	max-width: 0.01px;
	text-align: left;
	transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	visibility: hidden;
}

.legend_active {
	max-width: 1000px;
	transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}

.placeholder {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

input:focus {
	outline: none;
}