.app {
	position: absolute;
	top: 0;
  left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: auto;
	min-height: 100vh;
	min-width: 100vh;
	width: 100%;
	overflow: auto;
	background-color: #f7f5ff;
}

.body {
	width: 300px;
	margin-top: 35px;
}

.submit {
	margin: 10px 0 25px;
	width: 100%;
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1976d2;
	border: 2px solid #1976d2;
	color: white;
	padding: 5px 10px;
	font-size: 0.875rem;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	border-radius: 4px;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.submit:hover {
	border: 2px solid #1976d2;
	color: #1976d2;
	background: white;
	box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.empty{
	text-align: center;
	color: red;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 600;
	line-height: 1.75;
	letter-spacing: 0.00938em;
}